<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

    <button id="submit_button" mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>

    <label id="invalid_credentials" [hidden]="!invalidCredentialsLabelShown">Incorrect username or password</label>
</form>